<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>expenses</title>
</head>

<body>

<h2> Data table</h2> 
<form name="form_table" action="/table_names/" method="post" onsubmit="">
    <p>
        <input type="radio" name="table_n" id="option1" value="phone bills"> Phone Bills </input><br>
        <input type="radio" name="table_n" id="option2" value="transport"> Transport </input><br>
        <input type="radio" name="table_n" id="option2" value="transport"> Capital cost </input><br>
    </p>
    <input name="db_type" type="hidden" value={{db_type}}>
    {{db_type}}
    <p><input type=submit value=Next></p>
</form>


</body>

</html>