<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Small Business's Inventory and Account Management</title>
</head>

<body>
    
    <header>
        <h1 style="center ; color: blue">Small businesses Inventory and Account Management</h1>
    </header>
  
    <main>
        <h2> Generate</h2> 
        <form name="sele_fun" action="/select_fun/" method="post" onsubmit="">
            <p>
                <input type="radio" name="sel_f" id="option1" value="option1"> Reports </input><br>
                <input type="radio" name="sel_f" id="option2" value="option2"> Bill/invoice </input><br>     
            </p>
            <p><input type=submit value=Next></p>
        </form>


        <h2>Update</h2> 
        <form name="form_DB" action="/DB_select/" method="post" onsubmit="">
            <p>
                <input type="radio" name="db_type" id="option1" value="expenses"> Expenses details </input><br>
                <input type="radio" name="db_type" id="option2" value="products"> Product details </input><br>
            </p>
            <p><input type=submit value=Next></p>
        </form>
    </main>

</body>

</html>