<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Small Businesses Invernory and Account Management</title>
</head>

<body>
    <header>
        <h1 >Small businesses Inventory and Account Management</h1>
    </header>
    <main>
        <form action="/test" method="post">
            <h2>Enter data</h2>
                <button type="submit"> Inventory Data  </button>
                <button type="submit"> Sales  </button>
                <button type="submit"> Expenses  </button>
                <h4> Method to enter data</h4>
                    <button type="submit"> Manually </button> 
                    <button type="submit"> File  </button> 
            <h2> Create report </h2>
                <button type="submit"> Inventory </button>
                <button type="submit"> Sales  </button>
                <button type="submit"> Expenses  </button>
                <button type="submit"> Accounts </button>
        </form>
    {{ result }}


    
    {{ total_tax_paid }}
    </main>

</body>

</html>