<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Small Businesses Invernory and Account Management</title>
</head>

<body>
    <main>
        <h2> Update </h2>
    <form action="/method_t/" method="post">
        <p>
            <input type="radio" name="sel_f" id="option1" value="manually"> manually </input><br>
            <input type="radio" name="sel_f" id="option2" value="file"> using CSV file </input><br>     
        </p>
    
        <input name="db_type" type="hidden" value={{db_type}}>
    {{db_type}} {{table}}   
        <input name="table_n" type="hidden" value={{table}}></input><br>
        <input type="submit" id="submit" value="Submit"></input><br> 
    </form>


        
    <div style="color: red">
        <p> {{ first }} </p>
    </div>
    


 

    <div style="color: red">
        <p> {{ second }} </p>
    </div>
    <h2>Are you updating manually or using csv file?</h2> 
    <form name="form_method" action="/method" method="post" onsubmit="">
        <p>
            <input type="radio" name="adding_methods" id="option1" value="file"> CSV file </input><br>
            <input type="radio" name="adding_methods" id="option2" value="manually"> Manually </input><br>
        </p>
        <p><input type=submit value=Next></p>
    </form>

    <div style="color: red">
        <p> {{ third}} </p>
    </div>

    <form action="/enter_Data" method="post">
        <input type="text" id="data_input" name="data_input" required>
        <button type="submit">Submit</button>
    </form>




</main>

</body>

</html>