<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Small Businesses Invernory and Account Management</title>
</head>

<style>
    table, th, td {
      border:1px solid black;
    }
</style>

<body>
    <main>
        <header>
            <h1 style="center ; color: blue">Small businesses Inventory and Account Management</h1>
        </header>
      
    <form action="/finalize_d/" method="post">
        <p>
            We are ready to update  {{table}} table in {{db_type}} db using {{data_f}} data. 
            <br>
            Press Enter if the data is correct. Else press re-start to enter new data. 

        </p>
        <input name="db_type" type="hidden" value={{db_type}}> 
        <input name="table_n" type="hidden" value={{table}}></input><br>
        <input name="method_d" type="hidden" value={{method_d}}></input><br>
        <input name="data_f" type="hidden" value={{data_f}}></input><br>

        <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
            <input type="submit" value="Restart" name="status_n" id="optionx"/>
            <span id="spanStage"> </span>
            <input type="submit" value="Enter" name="status_n" id="optiony"/>
       </div>
    </form>
</p>
</p>
    

    <table style="width:100%">
        <tr>
          <th color="blue">Category</th>
          <th color="blue">Price</th>
        </tr>
        <tr>
          <td>Capital cost</td>
          <td align="right">{{cs}}</td>
        </tr>
        <tr>
            <td>Phone bills</td>
            <td align="right">{{pb}}</td>
        </tr><tr>
            <td>Local transport</td>
            <td align="right">{{lt}}</td>
        </tr>
        <tr>
            <td>Import items cost</td>
            <td align="right">{{itc}}</td>
        </tr>
        <tr>
            <td>Shipping cost</td>
            <td align="right">{{sc}}</td>
        </tr>
        <tr>
            <td>Custom duty</td>
            <td  align="right">{{cd}}</td>
        </tr>
        <tr>
            <td font color="red">Total</td>
            <td color="red" align="right">{{tot}}</td>
        </tr>


      </table>
        

</main>

</body>

</html>