<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Small Businesses Invernory and Account Management</title>
</head>

<body>
    <header>
        <h1 style="center ; color: blue">Small businesses Inventory and Account Management</h1>
    </header>
    <main>


<h2>What table you want to update?</h2> 
<form name="form_table" action="/table_names" method="post" onsubmit="">
    <p>
        <input type="radio" name="table_n" id="option1" value="inventory"> Inventory </input><br>
        <input type="radio" name="table_n" id="option2" value="unit_price"> Unit price </input><br>
    </p>
    <input name="db_type" type="hidden" value={{db_type}}>

    <input type="hidden" value="{db_type}">
    <p><input type=submit value=Next></p>
</form>





</main>

</body>

</html>